<html>
<body>
    <h2>Here are all the users:</h2>
    <% for (var x in users) { %>
        <h3>Name: <%= users[x].name %></h3>
        <h4>Email: <%= users[x].email %></h4>
        <hr>
    <% } %>

    <form action = "users/1" method = "post">  	
    	<button type="submit" value="submit">User1</button><br>
    </form>
       <a href='/'>go back</a>
</body>
</html>

<!-- //<input type='text' name='dog' > if you are using a get method -->
<!-- <form action = "users/1" method = "get">   -->