<html>
<head>
 <title></title>
</head>
<body>
 <h3>Add a User!</h3>
 <form action='/users' method='post'>
  Your Name: <input type='text' name='name'><br>
  Dojo Location: <select name="Location"><br>
  	<option value = "Mountain View">Mountain View</option>
  	<option value = "Seattle">Seattle</option>
  	<option value = "New York">New York</option></select><br>
  Favourite Language: <select name="Language">
  	<option value = "Java Script">Java Script</option>
  	<option value = "PHP">PHP</option>
  	</select><br>
  <br>Comment(optional): <textarea rows = "5" cols="50" name='comment'></textarea><br>
  <input type='submit' value='Submit'>
 </form>
</body>
</html>