<html>
<body>
    <h2>Here are all the users:</h2>
        <h3>Name: <%= users.name %></h3>
        <h4>Dojo Location: <%= users.Location %></h4>
        <h4>Favourite Language: <%= users.Language %></h4>
        <h4>Comment: <%= users.comment %></h4>
        <hr>
       <a href='/'>go back</a>
</body>
</html>